
@code{
    protected override void OnInitialized()
    {
        base.OnInitialized();
        for (int i = 0; i < 100; i++)
        {
            Items2.Add(new Spec { id = i, Name = "name" + i });
        }

    }
}



<Table TItem="Spec"
       IsPagination="true"
       ShowToolbar="true"
       ShowDefaultButtons="false" 
       AutoGenerateColumns="true"
       OnQueryAsync="@OnQueryAsync"
       >
</Table>

@code{
    private List<Spec>? Items2 { get; set; } = new List<Spec>();

    private Task<QueryData<Spec>> OnQueryAsync(QueryPageOptions options)
    {
        // 设置记录总数
        var total = Items2.Count;

        // 内存分页
        var items = Items2.Skip((options.PageIndex - 1) * options.PageItems).Take(options.PageItems).ToList();

        return Task.FromResult(new QueryData<Spec>()
        {
            Items = items,
            TotalCount = total,
            IsSorted = true,
            IsFiltered = true,
            IsSearch = true
        });
    }

   

}
