@page "/GenTableDynamicCheckboxList"

<h3>GenTableDynamicCheckboxList</h3>
 
<p>Job States:</p>
<Table TItem="DynamicObject" 
       DoubleClickToEdit="true" 
       DynamicContext="DataTableDynamicContext" 
       IsMultipleSelect="true" 
       IsBordered="true" 
       IsStriped="true" 
       ShowToolbar="true" 
       ShowExtendButtons="true"
       >
</Table>