@page "/"


<Tab>
    <TabItem Text="ORM+TABLE">
        <Table TItem="WeatherForecast"
               IsPagination="true"
               IsStriped="true"
               IsBordered="true"
               AutoGenerateColumns="true"
               ShowSearch="true"
               ShowToolbar="true"
               ShowExtendButtons="true"
               UseInjectDataService="true"
               DoubleClickToEdit=true
               ShowColumnList=true
               ShowCardView=true
               ShowDetailRow="_ => true" 
               > 
        </Table>
    </TabItem> 
    <TabItem Text="说明">
		引用包
        FreeSql.Provider.Sqlite , Densen.Extensions.BootstrapBlazor , Densen.FreeSql.Extensions.BootstrapBlazor 
        直接开撸
  </TabItem> 

</Tab>  

<TimerAme />    
